{% extends 'TroubleticketBundle::base.html.twig' %}

{% form_theme form _self %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <span style="color:red">
            {% for error in errors %}
                {{ error.message|trans }}
            {% endfor %}
        </span>
    {% endif %}
{% endblock form_errors %}

{% block body %}
    {% if message_error %}
        <div class="error">
            <span>{{message_error}}</span>
        </div>
    {% endif %}
    {% if tickets_relapsed > 0 %}
        <div class="alert alert-info">
            <span>Este Designador possui <strong>{{ tickets_relapsed }}</strong> Botelim(s) reincidentes(s) nos &uacute;ltimos 30 dias.</span>
        </div>
    {% endif %}
    <div class="titleModulo">
        <div>
            <span>Abertura de BA</span>
        </div>
        <strong>Dados do Chamado</strong>
    </div>
    <div class="row">
        <form action="{{ path('troubleticket_ba_create', {'report_id': reports.getId()}) }}" id="form_add_ba" name="form_add_ba" method="post">
            <input type="hidden" name="reports_id" value="{{reports.getId()}}">
            {{ form_widget(form._token) }}
            <div class="row">
            <div class="col-sm-30">
                <label>Nº do chamado:</label>
                <input type="text" name="reports_circuit_id" value="{{reports.getCode()}}" disabled="disabled" style="padding:0px;">
                <label>Designação:</label>
                <input type="text" name="reports_designation" value="{{reports.getDesignation()}}" disabled="disabled" style="padding:0px;">
                <label>Contato:</label>
                {% if api_circuit.contatos.contatos is empty %}
                    <input type="text" name="" value="" disabled="disabled" style="padding:0px;">
                {% else %}
                    <input type="text" name="" value="{{api_circuit.contatos.contatos[0].nome}}" disabled="disabled" style="padding:0px;">
                {% endif %}
                <label>Telefone:</label>
                <input type="text" name="" value="{{api_circuit.contatos.telefone.numero}}" disabled="disabled" style="padding:0px;">
                <label>Email:</label>
                <input type="text" name="" value="{{api_circuit.contatos.email.email}}" disabled="disabled" style="padding:0px;">
            </div>
            <div class="col-sm-30" style="float: right;">
                <label>*Sintoma:</label>
                <select name="form[symptom]" required="required" id="select_ba_add_sintoma" style="background-color: #fff;">
                    <option value="">---</option>
                </select>
                {{form_errors(form.symptom)}}
                <label>*Severidade:</label>
                <input type="text" name="severity" disabled="disabled" id="input_ba_add_severidade">
                <label>*Canal de atendimento:</label>
                <select name="form[service_channel]" required="required" id="select_ba_add_canal_atendimento" style="background-color: #fff;">
                    <option value="1" selected="selected">Telefone</option>
                    <option value="2">E-mail</option>
                </select>
            </div>
            <div class="col-sm-40" style="float:left;">
                <label>Cliente:</label>
                <input type="text" name="" value="{{api_client.razaoSocial}}" disabled="disabled" style="padding:0px;">
                <label>Cliente final:</label>
                <input type="text" name="" value="{{api_circuit.clienteFinal.nome}}" disabled="disabled" style="padding:0px;">
                <label>*Solicitante:</label>
                {{form_widget(form.requester_name)}}
                {{form_errors(form.requester_name)}}
                <label>*Telefone:</label>
                {{form_widget(form.requester_phone, {'attr': {'data-phone': ''}})}}
                {{form_errors(form.requester_phone)}}

                <label>*Email:</label>
                {{form_widget(form.requester_email)}}
                {{form_errors(form.requester_email)}}
            </div>
            </div>
            <div class="row">
            <div class="col-sm-100">
                <label>*Comentário:</label>
                {{form_widget(form.description)}}
                {{form_errors(form.description)}}
            </div>
            </div>
            <small><em>(*) Campos obrigatórios</em></small>
            <div class="row">
                <div class="col-sm-100">
                    <button type="submit" class="btn btn-primary">Abrir BA</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block static_js %}
<script type="text/javascript">
    $(document).ready(function() {
        //$(':input').inputmask();
        $('[data-phone]').inputmask('(99) 9999-9999[9]', {clearIncomplete: true})
    });

    $( "#form_add_ba" ).submit(function( event ) {
        showOverlay();
    });

    var sintomaXseveridadeArray = [{id:1,sintoma:"Serviço Interrompido", severidade:"Crítica"},
                                  {id:2,sintoma:"Serviço Intermitente/Degradado", severidade:"Alta"},
                                  {id:3, sintoma:"Sem impacto no serviço", severidade:"Baixa"}];

    $.each(sintomaXseveridadeArray, function (key, obj) {
        $('#select_ba_add_sintoma').append('<option value="'+obj.id+'">'+obj.sintoma+'</option>');
    });

    $('#select_ba_add_sintoma').on('change', function(){
        var valor = $(this).val();

        $.each(sintomaXseveridadeArray, function (key, obj) {
            if (obj.id == valor) {
                $('#input_ba_add_severidade').val(obj.severidade);
            } else if (valor < 1 || valor > 3) {
                $('#input_ba_add_severidade').val('');
            }
        });
    });

</script>
{% endblock %}

